@import '../variables';

@keyframes fadeDown {
	0% {
		transform: translateY(-100%);
	}
	100% {
		transform: translateY(100%);
	}
}

.grid {
	height: 100%;
	width: 100%;
	display: flex;
	align-content: center;
	gap: 1px;
	flex-wrap: wrap;
	position: relative;
	background-color: $base-color;
}

.grid::before {
	position: absolute;
	top: 0;
	content: '';
	background: $base-color;
	background: linear-gradient($base-color, $neon-blue, $base-color);
	animation-name: fadeDown;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.grid-item {
	// @todo Update width function for different size screens. Only looks good on XL.
	width: calc(6.87vw - 1px);
	height: calc(6.87vw - 1px);
	background: $grid-item;
	margin: 2px;
	transition: background-color 2s ease;
	z-index: 2;

	&:hover {
		background-color: $neon-blue;
		transition: none;
	}
}

