@import '../variables';

.sr-only {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
	color: white;
}

.login {
	position: absolute;
	top: calc(50vh - 200px);
	left: calc(50vw - 14vw);
	z-index: 3;
	width: 26vw;
	padding: 2.5rem;
	background-color: $modal-background;
	border-radius: 5px;
	box-shadow: 10px 10px 38px 0 rgba(0, 0, 0, 0.75);

	& h1 {
		text-transform: uppercase;
		margin-top: 0;
		text-align: center;
		color: $neon-blue;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;

		input {
			height: 2.5rem;
			background: $input-background;
			border: none;
			border-radius: 3px;
			padding-left: 0.5rem;
			font-size: 1rem;
			color: $input-placeholder;

			&:focus-visible {
				outline: $neon-blue solid 2px;
			}

			&::placeholder {
				font-size: 1rem;
				color: $input-placeholder;
			}
		}


		.links {
			display: flex;
			justify-content: space-between;
			gap: 2rem;

			a {
				font-weight: 500;
				text-decoration: none;
			}

			.password-link {
				color: white;
			}

			.signup-link {
				color: $neon-blue
			}
		}

		button {
			background: $neon-blue;
			height: 2.5rem;
			font-size: 1.5rem;
			font-weight: bold;
			border-radius: 5px;
			border: none;
			color: $modal-background;
		}
	}
}
